

    <footer>
        <div class="footer-contact">
            <h4>CONTACTO</h4>
            <br>
            <p>Cabañas Marí Marí</p>
            <p>www.cabaniasmarimari.com</p>
            <p>Ruta 40 km 1902 - El Hoyo - El Bolsón</p>
            <address>
              E-Mail:
            <a href="mailto:#">info@cabaniasmarimari.com</a>
          </address>
        </div>
    
        <div class="social">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.google.com"><i class="fa-brands fa-google-plus"></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
        </div>

        <div class="footer-legal">
            <p>Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="js/script.js"></script>

</body>
</html>