<%- include('partials/header') -%>
<div class="contenedor">
    <h4 class="alert-infos text-center">Cabaña Modelo</h4>
      <br>
      <div class="segundo">
         <h5>Cabaña de dos plantas que cuenta con cama matrimonial y ambiente exclusivo con hidromasaje en la habitación.&nbsp;</h5>
           <h5>Amplio deck con vista al Valle. Privacidad y confort.</h5>
      </div>
      <br>
  <h4 class="alert-infos text-center">Servicios</h4>
      <br>
    <div class="container">
      <table class="text-center" width="100%" border="0">
    <tbody>
      <tr>
        <td><h6 class="text-left font-italic">- Amplia habitación</h6></td>
        <td><h6 class="text-left font-italic">- Sommier King size</h6></td>
        <td><h6 class="text-left font-italic">- Hidromasaje para 2 personas</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Ropa de cama y toallas</h6></td>
        <td><h6 class="text-left font-italic">- Baño con bidet</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Deck Solarium</h6></td>
        <td><h6 class="text-left font-italic">- Heladera y vajilla</h6></td>
        <td><h6 class="text-left font-italic">- Horno microondas</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Parilla individual</h6></td>
        <td><h6 class="text-left font-italic">- Servicio de mucama</h6></td>
        <td><h6 class="text-left font-italic">- Estacionamiento cubierto</h6></td>
      </tr>
    </tbody>
  </table>
  
      </div>
      
      <hr>
  
      <div id="carouselExampleIndicators1" class="carousel slide" style="background-color:rgb(250, 215, 163)">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="5" aria-label="Slide 6"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="6" aria-label="Slide 7"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./images/fotomodelo1.jpg" alt="">
                </div>
                <div class="carousel-item">
                  <img src="./images/fotomodelo2.jpg" alt="">
                </div>
                <div class="carousel-item">
                  <img src="./images/fotomodelo3.jpg" alt="">
                </div>
          <div class="carousel-item">
          <img src="./images/fotomodelo4.jpg" alt="">
          </div>
          <div class="carousel-item">
          <img src="./images/fotomodelo5.jpg" alt="">
          </div>
          <div class="carousel-item">
          <img src="./images/fotomodelo6.jpg" alt="">
          </div>
          <div class="carousel-item">
          <img src="./images/fotomodelo7.jpg" alt="">
          </div>
              </div>
              <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          
            </div>
  
      <hr>
       
  
    <h4 class="alert-info text-center">Cabañas Piltri y Pirque</h4>
    <br>
      <div class="segundo">
           <h5 >Dos idénticas Cabañas de una planta para cuatro o cinco personas que ofrecen  comodidad y confort para que su estadía sea inolvidable.</h5>
      </div>
      <br>
            <h4 class="alert-info text-center">Servicios</h4>
        <br>
          <div class="container">
        <table width="100%" border="0">
    <tbody>
      <tr>
        <td><h6 class="text-left font-italic">- Habitación triple con sommiers</h6></td>
        <td><h6 class="text-left font-italic">- Habitación matrimonial con Sommier King size</h6></td>
        <td><h6 class="text-left font-italic">- Bañera Hidromasaje individual</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- TV LCD 32" con DirecTV</h6></td>
        <td><h6 class="text-left font-italic">- Ropa de cama y toallas</h6></td>
        <td><h6 class="text-left font-italic">- Baño con bidet</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Amplia cocina</h6></td>
        <td><h6 class="text-left font-italic">- Heladera y vajilla</h6></td>
        <td><h6 class="text-left font-italic">- Horno microondas</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Parilla individual</h6></td>
        <td><h6 class="text-left font-italic">- Servicio de mucama</h6></td>
        <td><h6 class="text-left font-italic">- Estacionamiento cubierto</h6></td>
      </tr>
    </tbody>
  </table>
         
  
      </div>
      
     
      
  
    <hr>
  
    <div id="carouselExampleIndicators2" class="carousel slide" style="background-color:rgb(250, 215, 163)">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="8" aria-label="Slide 9"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="./images/fotopiltripirque1.jpg" alt="" >
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque2.jpg" alt="">
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque3.jpg" alt="">
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque4.jpg" alt="" >
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque5.jpg" alt="">
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque6.jpg" alt="">
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque7.jpg" alt="">
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque8.jpg" alt="">
        </div>
        <div class="carousel-item">
        <img src="./images/fotopiltripirque9.jpg" alt="">
        </div>
      </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    
      </div>
  
    <hr>
  
    
      <h4 class="alert-info text-center">Cabañas Epuyen y Puelo</h4>
      <br>
      <div class="segundo">
           <h5 >Dos idénticas Cabañas de dos plantas para cuatro y cinco personas.&nbsp; Cuentan con ambiente exclusivo con hidromasaje en la habitación. Amplio deck con vista al Valle.</h5>
      </div>	
      <br>
            <h4 class="alert-info text-center">Servicios</h4>
        <br>
          <div class="container">
      <table width="100%" border="0">
    <tbody>
      <tr>
        <td><h6 class="text-left font-italic">- 2 Amplias habitaciones</h6></td>
        <td><h6 class="text-left font-italic">- Sommier King size en habitación matrimonial</h6></td>
        <td><h6 class="text-left font-italic">- Sommier de 2 plaza y media en 2da habitación</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Hidromasaje para 2 personas</h6></td>
        <td><h6 class="text-left font-italic">- TV LCD 32" con DirecTV</h6></td>
        <td><h6 class="text-left font-italic">- Ropa de cama y toallas</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Baño con bidet</h6></td>
        <td><h6 class="text-left font-italic">- Deck Solarium</h6></td>
        <td><h6 class="text-left font-italic">- Heladera y vajilla</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Horno microondas</h6></td>
        <td><h6 class="text-left font-italic">- Parilla individual</h6></td>
        <td><h6 class="text-left font-italic">- Servicio de mucama</h6></td>
      </tr>
      <tr>
        <td><h6 class="text-left font-italic">- Estacionamiento cubierto</h6></td>
      </tr>
    </tbody>
  </table>
  
           </div> 
  
         <hr>
  
         <div id="carouselExampleIndicators3" class="carousel slide" style="background-color:rgb(250, 215, 163)">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide-to="8" aria-label="Slide 9"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="./images/fotopueloeqpuyen1.jpg" alt="" >
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen2.jpg" alt="">
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen3.jpg" alt="">
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen4.jpg" alt="">
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen5.jpg" alt="">
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen6.jpg" alt=""">
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen7.jpg" alt="">
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen8.jpg" alt="">
            </div>
            <div class="carousel-item">
            <img src="./images/fotopueloeqpuyen9.jpg" alt="">
            </div>
          </div>
          <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators3" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
      
    </div>	
      <br><br>
      
    </div>


<%- include('partials/footer') -%>