<%- include('partials/header') -%>

<div class="contenedor">
	
    <h4 class="alert-infos text-center">FOTOS</h4>
    <br>

    <div id="carouselExampleIndicators1" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="3" aria-label="Slide 4"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="4" aria-label="Slide 5"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="5" aria-label="Slide 6"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="6" aria-label="Slide 7"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="7" aria-label="Slide 8"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="8" aria-label="Slide 9"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="9" aria-label="Slide 10"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="10" aria-label="Slide 11"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="11" aria-label="Slide 12"></button>
          
        </div>
        <div class="carousel-inner">
          <div class="carousel-item ">
            <img src="./images/fotos/foto1.jpg" alt=""  class="w-75" >
          </div>
          <div class="carousel-item">
            <img src="./images/fotos/foto2.jpg" alt="" class="w-75">
          </div>
          <div class="carousel-item">
            <img src="./images/fotos/foto3.jpg" alt="" class="w-75">
          </div>
            <div class="carousel-item">
            <img src="./images/fotos/foto4.jpg" alt="" class="w-75">
          </div>
          <div class="carousel-item">
            <img src="./images/fotos/foto5.jpg" alt="" class="w-75">
          </div>
          <div class="carousel-item active">
            <img src="./images/fotos/foto6.jpg" alt=""  class="w-75" >
          </div>
          <div class="carousel-item">
            <img src="./images/fotos/foto7.jpg" alt="" class="w-75">
          </div>
          <div class="carousel-item">
            <img src="./images/fotos/foto8.jpg" alt="" class="w-75">
          </div>
            <div class="carousel-item">
            <img src="./images/fotos/foto9.jpg" alt="" class="w-75">
          </div>
          <div class="carousel-item">
            <img src="./images/fotos/foto10.jpg" alt="" class="w-75">
          </div>
         <div class="carousel-item">
            <img src="./images/fotos/foto11.jpg" alt="" class="w-75">
          </div> 
          <div class="carousel-item">
            <img src="./images/fotos/foto12.jpg" alt="" class="w-75">
          </div>
        </div>
        <button class="carousel-control-prev w-50" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next w-50" type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    
      </div>
      <br><br>
</div>

<%- include('partials/footer') -%>