<%- include('partials/header') -%>

<div class="contenedor">
  <div class="alert-info"> 
    <h5 class="text-center "><strong>Cabañas Marí Marí</strong></h5>
  </div>
  <br>
      
      <div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="./img/inicio1.jpg" alt="First slide"  class="w-75" >
      </div>
      <div class="carousel-item">
      <img src="./img/inicio2.jpg" alt="Second slide" class="w-75">
      </div>
      <div class="carousel-item">
      <img src="./img/inicio3.jpg" alt="Third slide" class="w-75">
      </div>
    </div>
    <button class="carousel-control-prev w-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next w-50" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <br>
  <div class="bienvenido">
    <h4 >Bienvenidos a Cabañas Marí Marí</h4>
  </div>
  <br>
  <div class="segundo">
    <h5 >Un complejo turístico que combina el precioso paisaje de montaña y lagos de la zona. Con el confort, calidad y calidez de nuestras cabañas, especial para relajarse.</h5>
    <h5 >Con una hermosa vista al Valle se convierte en un lugar ideal para sus vacaciones o para disfrutar de unos días de tranquilidad y aventura.</h5>
  </div>	
  <br><br>
  

</div>

<%- include('partials/footer') -%>